{% extends '::baseEng.html.twig' %}
{% block body %}
    <!-- Breadcrumbs
    ================================================== -->
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">Certificates</h1>
                </div>
            </div>

            <!-- GALERIJA
      ================================================== -->
            <div class="page_margin_top">
                <p>We are proud on our numerous certificates proving that Mehun d.o.o. is responsible and stable dental laboratory that constantly improves the quality of it's business for the benefit of employees and clients. Gallery below shows only part of our certificates and diplomas earned during the past several years. </p>
            </div>
        </div>
        <div id="certifikati">
            <div class="clearfix tabs page_margin_top">
                <div class="header_right"> <a href="#" id="certifikati_prev" class="scrolling_list_control_left icon_small_arrow left_black"></a> <a href="#" id="certifikati_next" class="scrolling_list_control_right icon_small_arrow right_black"></a> </div>
            </div>
            <ul class="gallery horizontal_carousel certifikati">
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-01.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-01.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                </li>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-02.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-02.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-03.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-03.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-04.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-04.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-05.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-05.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-06.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-06.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-07.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-07.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-08.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-08.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-09.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-09.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-10.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-10.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-11.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-11.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-12.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-12.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-13.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-13.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-14.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-14.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-15.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-15.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-16.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-16.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-17.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-17.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-18.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-18.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-19.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-19.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-20.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-20.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-21.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-21.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-22.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-22.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-23.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-23.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-24.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-24.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-25.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-25.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-26.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-26.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-27.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-27.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-28.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-28.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-29.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-29.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-30.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-30.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-31.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-31.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-32.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-32.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-33.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-33.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-34.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-34.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-35.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-35.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-36.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-36.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-37.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-37.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-38.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-38.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-39.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-39.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-40.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-40.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-41.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-41.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-42.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-42.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-43.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-43.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-44.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-44.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-45.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-46.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-47.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-47.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-48.jpg')}}"" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-48.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-49.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-49.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                <li class="gallery_box"> <img src="{{ asset('images/certifikati_thumbs/mehun-50.jpg')}}" alt="" />
                    <ul class="controls">
                        <li> <a href="{{ asset('images/certifikati/mehun-50.jpg')}}" rel="certifikati" class="fancybox open_lightbox"></a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix"> </div>
    </div>
{% endblock %}