{% extends 'baseEng.html.twig' %}
{% block body %}
    <!-- Glavni slider
================================================== -->
    <ul class="slider">
        <li style="background-image: url('images/slider/img1.jpg');"> &nbsp; </li>
        <li style="background-image: url('images/slider/img2.jpg');"> &nbsp; </li>
        <li style="background-image: url('images/slider/img3.jpg');"> &nbsp; </li>
        <li style="background-image: url('images/slider/img4.jpg');"> &nbsp; </li>
    </ul>

    <!-- Sadržaj slidera -->
    <div class="page relative noborder">
        <div class="slider_content_box clearfix">
            <div class="slider_content" style="display: block;">
                <h1 class="title"> Welcome </h1>
                <h2 class="subtitle"> to the website of Mehun d.o.o.<br />
                    dental laboratory </h2>
            </div>
            <div class="slider_content">
                <h1 class="title"> We follow<br />
                    trends </h1>
                <h2 class="subtitle"> and comply the highest standards<br />
                    of modern dental medicine. </h2>
            </div>
            <div class="slider_content">
                <h1 class="title"> High quality products<br />
                    and services </h1>
                <h2 class="subtitle">Priority of our company and all its<br />
                    employees is to assure<br />
                    required quality.
                </h2>
            </div>

            <div class="slider_content">
                <h1 class="title">Contact us<br />
                    with confidence! </h1>
            </div>
        </div>

        <!-- Home boxes
        ================================================== -->
        <ul class="home_box_container clearfix">
            <!-- Prva-->
            <li class="home_box orange">
                <h2> <a href="{{ path('about') }}" title="Who are we?"> Who are we? </a> </h2>
                <div class="news clearfix">
                    <p class="text"> Health service company with a dental technique laboratory Mehun d.o.o. is one of the first among such companies in Croatia. We started out in 1992...</p>
                    <a class="more light icon_small_arrow margin_right_white" href="{{ path('about') }}" title="Read more">Read more</a> </div>
            </li>
            <!-- Druga -->
            <li class="home_box grey">
                <h2> <a href="{{ path('contact') }}" title="Contact"> Location and contact </a> </h2>
                <div class="news clearfix">
                    <p class="text"> Ivana Mazuranica 70, 42000 Varazdin <br>
                        Phone: +385 42 240 366<br>
                        Mobile phone: +385 98 267 140<br>
                        Fax: +385 42 204 860</p>
                    <a class="more light icon_small_arrow margin_right_white" href="{{ path('contact') }}" title="Contact">Contact us</a> </div>
            </li>
            <!-- Treća -->
            <li class="home_box green">
                <h2> Working hours </h2>
                <ul class="items_list thin dark_blue opening_hours">
                    <li class="clearfix"> <span>Monday - Thursday </span>
                        <div class="value"> 8:00 am - 20:00 pm</div>
                    </li>
                    <li class="clearfix"> <span> Friday </span>
                        <div class="value"> 8:00 am - 15:00 pm</div>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Linija
        ================================================== -->
        <div class="crta page_margin_top_section clearfix"> </div>
        <div id="certifikati">
            <div class="clearfix tabs page_margin_top">
                <h1>Blog</h1>
                <div class="header_right"> <a href="#" id="certifikati_prev" class="scrolling_list_control_left icon_small_arrow left_black"></a> <a href="#" id="certifikati_next" class="scrolling_list_control_right icon_small_arrow right_black"></a>
                </div>
            </div>
            <ul class="gallery horizontal_carousel certifikati">
                {% for page in pages|reverse %}
                    <li class="gallery_box">
                        <ul class="home_box_container clearfix">
                            <!-- Prva-->
                            <li class="home_box orange">
                                <h2><a href="{{ path ('mehun_eng_content_homepage', {id: page.id}) }}">{{ page.title }}</a></h2>
                                <div class="news clearfix">
                                    <p class="text blog_white_text">{{ page.abstract }}... <a class="more light icon_small_arrow margin_right_white" href="{{ path ('mehun_eng_content_page_display', {id: page.id}) }}" title="Contact">Read more</a></div>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="page relative">
            <div class="page_layout page_margin_top clearfix"> </div>
        </div>
        <!-- Stupci/Ikone
       ================================================== -->
        <div class="clearfix">
            <div class="columns columns_3 page_margin_top clearfix">
                <!-- Prvi stupac/ikona -->
                <ul class="column">
                    <li class="item_content clearfix"> <a class="features_image" href="{{ path('quality_policy') }}" title=""> <img src="images/ikone/iso.png" alt="TÜV quality standard" /> </a>
                        <div class="text">
                            <h3>ISO 9001:2008 </h3>
                            Working in compliance with requirements of EN ISO 9001:2008 standards is an acknowledgment of the quality within our company.<a href="{{ path('quality_policy') }}"> More &rarr; </a> </div>
                    </li>
                </ul>
                <!-- Drugi stupac/ikona -->
                <ul class="column">
                    <li class="item_content clearfix"> <a class="features_image" href="{{ asset('pdf/mehun_katalog.pdf') }}" target="_blank" title=""> <img src="images/ikone/katalog.png" alt="Mehun d.o.o. katalog proizvoda" /> </a>
                        <div class="text">
                            <h3>Product catalogue</h3>
                            Search and browse through the catalogue of our products. All images represent original works and are a result of cooperation between dental offices and our laboratory.<a href="{{ asset('pdf/mehun_katalog.pdf') }}" target="_blank"> More &rarr; </a> </div>
                    </li>
                </ul>
                <!-- Treći stupac/ikona -->
                <ul class="column">
                    <li class="item_content clearfix"> <a class="features_image"> <img src="images/ikone/galerija.png" alt="Image gallery" /> </a>
                        <div class="text">
                            <h3>Gallery</h3>
                            Mehun d.o.o. photo gallery. <a href="{{ path('gallery') }}"> More &rarr; </a> </div>
                    </li>
                </ul>
            </div>

            <!-- Linija
            ================================================== -->
            <div class="crta page_margin_top_section clearfix"> </div>

            <!-- Tablica partneri
            ================================================== -->

            <table class="partners">
                <tbody>
                <tr>
                    <td><a href="http://www.degudent.com"> <img src="images/degudent.jpg" alt="Degudent" width="150" height="75" /> </a></td>
                    <td><a href="http://www.degudent-cadcam.com"> <img src="images/cercon.jpg" alt="Cercon" width="150" height="75" /> </a></td>
                    <td><a href="http://www.dentsply.com"> <img src="images/dentsply.jpg" alt="Dentsply" width="150" height="75" /> </a></td>
                    <td><a href="http://www.kiss-ceramics.com"> <img src="images/kiss.jpg" alt="Duceram Kiss" width="190" height="75" /> </a></td>
                    <td><a href="http://www.interdent.hr"> <img src="images/interdent.jpg" alt="Interdent" width="150" height="75" /> </a></td>
                    <td><a href="http://www.bredent.com"> <img src="images/bredent.jpg" alt="Bredent" width="150" height="75" /> </a></td>
                </tr>
                </tbody>
            </table>

            <!-- Najava box
            ================================================== -->
            <div class="announcement page_margin_top_section clearfix">
                <ul class="columns no_width">
                    <li class="column_left">
                        <h1>The latest technology and high quality materials!</h1>
                        <p>Laboratory is equipped with the newest equipment for working with all fixed, mobile and prosthetic jobs<br> according to our patients wishes.</p>
                    </li>
                    <li class="column_right">
                        <div class="vertical_align">
                            <div class="vertical_align_cell"> <a title="Contact us today" href="{{ path('contact') }}" class="more dark medium"> Contact us today </a> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
